<%- include('includes/head.ejs') %>

<section
  id="main-banner"
  class="hero is-danger <% if (!results) { %>is-large<% } %>"
>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Searchflix
      </h1>
      <h2 class="subtitle">
        An Elasticsearch ...
      </h2>

      <form action="/search" method="POST" id="searchform">
        <input id="field" type="hidden" name="field" value="overview" />
        <input
          id="terms"
          type="text"
          class="input is-large is-rounded"
          placeholder="What do you want to watch today?"
          name="terms"
          autocomplete="off"
          onkeypress="onKeyPressSearchField(event)"
        />
      </form>
    </div>
  </div>
</section>

<% if (results) { %>
<section id="nav">
  <%- include('nav', { results: results }) %>
</section>

<section id="results" class="section">
  <div class="columns is-multiline is-centered">
    <% results.hits.hits.forEach(function(result) { %>
      <%- include('movie', { movie: result }); %> <% }); %>
  </div>
</section>
<% } %>
