<%- include('page/head.ejs') %>

<section
  id="main-banner"
  class="hero is-danger <% if (!results) { %>is-large<% } %>"
>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Searchflix
      </h1>
      <h2 class="subtitle">
        An Elasticsearch's features demonstration app...
      </h2>

      <%- include('search/search-form'); %>

    </div>
  </div>
</section>

<% if (results) { %>
  <%- include('results/results.ejs') %>
<% } %>

<%- include('page/end.ejs') %>