<form action="/search" method="POST" id="searchform">
    <input id="field" type="hidden" name="field" value="overview" />
    <div>
        <input
        id="terms"
        type="text"
        class="input is-large is-rounded"
        placeholder="What do you want to watch today?"
        name="terms"
        autocomplete="off"
        />
    </div>
    <!--
    <div>
        <div class="columns">

        <div class="column">
            <div class="control">
            <div class="select">
                <select id="fuzziness">
                <option value="0" selected>Fuzziness</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                </select>
            </div>
            </div>
        </div>

        </div>
    </div>
    -->
</form>